*{
    box-sizing: border-box;
    margin: 0px auto;
}

:root{
    --heading-color:#3d332a;
    --column-content-color:#7f7368;
    --content-bg:#f4f2ef;
    --hover-color:#bdc900;
}

body{
 margin: auto;
}

.container {
    width: 1320px;
    width: 1519px;
    margin: 0px auto;
    padding-left: 159.6px;
    padding-right: 159.4px;
    position: relative;
    /* left: -159.6px; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-4{
    width: 33.33%;
}

section{
    margin-top: 60px;
}

h1{
    font-family: 'Rubik';
    color: var(--heading-color);
    font-size: 58.054px;
    text-align: center;
}

.single-content-wrap{
    position: relative;
    margin-right: 30px;
}

.content-wrap{
    margin: 43px ;
}

.section-title{
    margin-bottom: 30px;
}

.title-wrap{
    padding: 26px 28px 0px;
    background-color: var(--content-bg);
    margin-top: 0px;
}
img{
    max-width: 100%;
}

.cross-wrap{
    margin-left: auto;
}

.cross{
    width: 10px;
}

.title-wrap{
    
    text-align: center;
}

.title{
    font-family: 'Trocchi';
    font-size: 22px;

}
.changing{
    text-decoration: none;
    color: var(--heading-color);
}
.changing:hover{
    color: var(--hover-color);
}

p{
    color: var(--column-content-color);
    font-size: 14px;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
   background-color:  orange;
   border: 8px solid white;
}